# exclude assets

# v5 / tama and earth expo
pc/* 
# why isn't this part of a database?
pc/cgi/stats.ini 
!pc/cgi/*
!pc/game_rollercoaster/game_rollercoaster.php
!pc/flashless.html 
!pc/index.html
# v5 password generator
!pc/pw_gen.html

# friends/dreamtown
friends/* 
!friends/crossdomain.xml 
!friends/change_pw.html 
!friends/flashless.html 
!friends/index.html 
!friends/cgi-bin/*
friends/cgi-bin/__pycache__/*

# japanese sites
etg/pc/flash/* 
etg/urapc/flash/*
school/pc/flash/* 

!etg/pc/flash/foobar/*
# this should probs symlink to the one in /pc/ ...
!etg/urapc/flash/foobar/* 

!etg/pc/flash/index.html
!etg/urapc/flash/index.html
!school/pc/flash/tamasc.html

# CD-ROM releases
cdrom/entama/*
cdrom/v4.5/*
cdrom/v5.5/*

!cdrom/entama/index.html
!cdrom/entama/flashless.html

!cdrom/v5.5/index.html
!cdrom/v5.5/flashless.html

!cdrom/v4.5/index.html
!cdrom/v4.5/flashless.html

# this doesn't even work, why is this here?
music_city/* 

# windows xp tour (i should move this to another site..)
other/*
!other/xp/index.html
!other/xp/flashless.html

# its just self hosted version of ruffle
ruffle/*

# google site console
google*
