<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>fSavStb</string>
	<key>CFBundleGetInfoString</key>
	<string>ScreenTime Screen Saver Engine 3.5</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ScreenTime Screen Saver Engine 3.5.6</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>ScreenTime Screen Saver Engine 3.5.6</string>
	<key>CFBundleSignature</key>
	<string>FSsx</string>
	<key>CFBundleVersion</key>
	<string>3.5.8</string>
	<key>NSPrincipalClass</key>
	<string>FlS213c5437</string>
</dict>
</plist>
